{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": [
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:jest/recommended",
    "airbnb",
    "plugin:prettier/recommended",
//    "prettier",  // TODO: I think this are exclusions, not sure I need it because https://prettier.io/docs/en/integrating-with-linters.html#recommended-configuration
    "prettier/react"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "plugins": [
    "react",
    "import",
    "jsx-a11y",
    "flowtype",
    "prettier",
    "jest"
  ],
  "globals": {

  }
}